@import (css) url('https://code.getmdl.io/1.1.3/material.teal-blue.min.css');
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
  height: 100%;
  margin: 0;

  &.giftly {
    background: url(giftly.png);
  }

  @import 'apps/mainNavbar';
  @import 'apps/note/note';
  @import 'apps/splash/splash';

  #neatnotes {
    height: 100%;
  }
}
