.login-widget {
  display: flex;
  justify-content: center;

  button.button-facebook {
    padding: 16px 21px;
    font-family: Helvetica,sans-serif;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    background-color: #4c69ba;
    transition: background-color .3s,border-color .3s;
    border: 1px solid #4364bf;
    border: none;
  }
}
