#account-prompt {
  position: fixed;
  display: flex;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  font-family: 'Open Sans', sans-serif;

  h1 {
    font-size: 23px;
    padding-left: 18px;
    margin-bottom: 6px;
  }

  h2 {
    font-size: 19px;
    padding-left: 18px;
    color: #333433;
    margin-top: 0;
    font-weight: 200;
  }

  #shadow-container {
    position: relative;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: #000;
  }

  .stepper-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 380px;
    padding-right: 14px;
    padding-bottom: 14px;
    background-color: #fff;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
  }

  .step-content-text {
    font-size: 14px;

    &.italic {
      font-style: italic;
    }
  }

  .step-content-text-small {
    font-size: 12px;
    line-height: 1.2;
  }
}
