@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

@import './chat_window/chatWindow';
@import './accountPrompt';

#note {
  position: relative;
  width: 100%;
  height: 100%;
  background: url(giftly.png);
}

.note-screenshot {
  width: 100%;
  height: 100%;
}

.blinking-pointer {
  position: absolute;
  width: 36px;
  height: 36px;
  background-color: #f44336;
  border-radius: 50%;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
  opacity: 0.5;
  transform: translate(-18px, -18px);
  animation: fadein 2s ease-in alternate infinite;
  cursor: pointer;
}

@keyframes fadein {
  from { opacity: 0.6; }
  to { opacity: 0.3; }
}

.empty-message {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: 100px;
  padding: 12px;
  width: 80%;
  max-width: 460px;
  min-height: 200px;
  border-radius: 2px;
  background-color: #fff;
  border: 1px solid #ddd;
  font-family: 'Open Sans', sans-serif;

  h1 {
    text-align: center;
    line-height: 1;
    color: #444;
    font-size: 28px;
  }

  p {
    text-align: center;
    line-height: 1.2;
  }
}

.loading-gif {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -30px;
  margin-left: -30px;
  width: 60px;
  height: 60px;
  background: url(loading.gif);
}
