#main-navbar {
  position: fixed;
  display: flex;
  padding: 0 32px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  background-color: #448aff;
  z-index: 100000;
  box-sizing: border-box;
  border-bottom: 1px solid #2f5dac;

  .dropdown-container {
    position: relative;
    width: 100%;
    max-width: 620px;
    height: 54%;
    box-sizing: border-box;

    .searchbox {
      width: 100%;
      height: 100%;
      padding: 0 10px;
      border-radius: 2px;
      border: 1px solid #ddd;
      background-color: #fff;
      outline: none;
      font-size: 16px;
      box-sizing: border-box;
    }

    .dropdown-content {
      position: absolute;
      width: 100%;
      min-width: 280px;
      max-height: 460px;
      background-color: #fff;
      box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
      outline: none;
      overflow: auto;
    }

    .dropdown-item {
      display: flex;
      padding: 5px 9px;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 58px;
      background-color: #fff;
      cursor: pointer;
      box-sizing: border-box;

      &:hover {
        background-color: #eee;
      }

      > img {
        height: 50px;
        width: 50px;
        border-radius: 4px;
      }

      .note-info {
        width: 100%;
        display: flex;
        margin-left: 10px;
        flex-direction: column;
        justify-content: space-around;
        white-space: nowrap;
        overflow: hidden;
      }

      .note-href {
        font-weight: bold;
      }

      .note-tags {

        .text-tag {
          margin-right: 4px;
          background-color: #d8dfea;
          border: 1px solid #5977a6;
          border-radius: 3px;
        }
      }
    }
  }

  a {
    margin-left: 25px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}
