@import '../session/login';

#splash {
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}

.splash-navbar {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: flex-end;
  align-items: center;
  background-color: #448aff;
  border-bottom: 1px solid #2f5dac;

  a {
    margin-right: 32px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

.typing-banner {
  padding: 72px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-bottom: 1px solid #ccc;
  background: url(sayagata.png);

  .typing-content {
    font-size: 22px;
    font-family: monospace;
    line-height: 1.5;
    height: 42px;
    margin: 36px 0 72px 0;
  }
}

.fake-chat-container {
  position: relative;
  width: 100%;
  height: 450px;
}

.chat-window.fake {
  width: 320px;
  height: 400px;
  left: 50%;
  transform: translate(-50%, -36px);
}

.blinking-pointer.fake {
  left: 50%;
  transform: translate(-178px, -54px);
}

.splash-footer {
  text-align: center;
  padding: 0 32px;
  font-size: 12px;
}
