body {
  margin: 0;
  min-width: 280px;
  max-height: 460px;
}

.link-to-neatnotes {
  width: 100%;
  text-align: center;
  margin: 0;

  &.border-bottom {
    padding: 12px;
    border-bottom: 1px solid #ccc;
  }
}

.empty-message {
  width: 100%;
  text-align: center;
}

.dropdown-content {
  width: 100%;
  min-width: 280px;
  min-height: 50px;
  max-height: 460px;
  background-color: #fff;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.3);
  outline: none;
  overflow: auto;
}

.dropdown-item {
  display: flex;
  padding: 5px 9px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 58px;
  background-color: #fff;
  cursor: pointer;
  box-sizing: border-box;

  &.read {
    border-left: 3px solid #448aff;
  }

  &:hover {
    background-color: #eee;
  }

  > img {
    height: 50px;
    width: 50px;
    border-radius: 4px;
  }

  .note-info {
    width: 100%;
    height: 100%;
    display: flex;
    margin-left: 10px;
    flex-direction: column;
    justify-content: flex-start;
    white-space: nowrap;
    overflow: hidden;
  }

  .note-href {
    font-weight: bold;
  }

  .note-from {
    font-style: italic;
  }

  .note-tags {

    .text-tag {
      margin-right: 4px;
      background-color: #d8dfea;
      border: 1px solid #5977a6;
      border-radius: 3px;
    }
  }
}
