@import (inline) 'animate.css';

.chat-window {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.5);
  font-family: 'Open Sans', sans-serif;
  z-index: 2;

  @import 'chatMessage';
  @import 'textInput';

  .navbar {
    height: 36px;
    padding: 0 8px;
    margin: 0;
    flex-shrink: 1;
    display: flex;
    align-items: center;
    background-color: #448aff;
    color: #fff;
    -webkit-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.1);
    font-family: sans-serif;
    font-size: 18px;

    .navbar-close {
      height: 28px;
      width: 32px;
      margin-right: 12px;
      background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/104946/ic_arrow_back_white_48dp.png);
      background-size: contain;
      cursor: pointer;
    }

    .navbar-open {
      color: #fff;
      cursor: pointer;
      font-weight: 200;
      font-size: 14px;
      text-decoration: none;
    }
  }

  .chat-content-container {
    flex: 1;
    padding: 6px 11px;
    background-color: #eee;
    overflow-y: scroll;
  }

  ::-webkit-scrollbar-thumb {
    border: 0;
    background-clip: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }

  ::-webkit-scrollbar-track {
    background-clip: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
  }
}
