.chat-message {
  width: 100%;
  display: flex;
  margin: 6px 0;
  justify-content: space-between;

  .chat-icon {
    width: 42px;
    height: 42px;
    border-radius: 50%;
  }

  .chat-textbubble-and-name-container {
    width: 240px;
  }

  .chat-textbubble {
    display: inline-block;
    padding: 12px;
    font-size: 13px;
    background-color: #fff;
    border-radius: 10px;
    color: #000;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px 0px rgba(50, 50, 50, 0.5);
    text-align: left;
  }

  .chat-textbubble-span {
    height: 1px;
  }

  .username {
    font-weight: 800;
  }
}

.chat-message:not(.is-mine) {
  .chat-icon {
    order: 2;
    background-color: #fff;
    color: #000;
  }

  .chat-textbubble {
    order: 1;
    background-color: #fff;
    color: #000;
  }
}
