.text-input-container {
  display: flex;
  position: relative;

  .textoverlay-wrapper {
    width: 100%;
  }

  textarea {
    width: 100%;
    max-height: 110px;
    height: 40px;
    font-size: 16px;
    font-family: sans-serif;
    line-height: 1.2;
    padding: 10px;
    border-style: none;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    outline: none;
    overflow-y: scroll;
    resize: none;
    box-sizing: border-box;
    background-color: #fff;
  }
}
